.racefield_li {
	background-color : theme-color('light') !important;
	color : $primary !important;
}

.racefield_li.active {
	background-color : $primary !important;
	color : theme-color('light') !important;
}

.racefield_a.active {
	color : theme-color('light') !important;
}

.racefield-left-div{
	position :sticky;
	top:15%;
	overflow:auto;
	height:100%;
	
}

.vehicle_card {
	background-color : $primary;
	color : theme-color('light');
}

.vehicle_name {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.racefields_ul {
	height: 80vh;
    overflow-y: auto;
}

.box {
	float: left;
	padding: 50px 0px;
}

.vehicle-clearfix::after {
	clear: both;
	display: table;
}

.vehicle-options {
	margin: 5px 0px 0px 0px;
	float: left;
}

.vehicle-pagination {
	float: right;
}

.vehicle-pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.vehicle-pagination a.vehicle-active {
	background-color: $primary;
	color: theme-color('light');
	border: 1px solid $primary;
}


.vehicle-pagination a:hover:not(.vehicle-active) {
	background-color: #ddd;
}

div.race-scrollmenu {
  color : theme-color('light') !important;
  background-color : $primary !important;
  overflow: auto;
  white-space: nowrap;
  font-size:small;
  
}

div.race-scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-right:1px solid theme-color('light') !important;
}

div.race-scrollmenu a.active {
  color: $primary !important;
  background-color : theme-color('light') !important;
  border-right:1px solid $primary !important;
}


@media screen and (max-width: 767px) {
  .racefield-left-div{
	position :relative;
	top:unset;
	overflow:auto;
	height:100%;
  }
  .racefields_ul {
	height: 50vh;
  }
  
  .racefields_pager .pagination {
  	margin: 0 auto !important;
  }
}